/* PaymentMethodIcon.module.css */
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 1.2em;
  margin: 0 0.5rem;
}

.icon.paymentMethodBadge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0;
  font-size: 0.8em;
  z-index: 10;
}

.iconEmoji {
  font-size: 1.2em;
  line-height: 1;
}

.icon.paymentMethodBadge .iconText {
  display: none;
}
